<!-- ======= Footer ======= -->
  <footer id="footer" class="footer mt-auto">
    <div class="copyright">
      &copy; Copyright <strong><span>My Linh beauté</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      by <a href="https://codeviral.fr">codeviral</a>
    </div>
  </footer>
<!-- End Footer -->