<div {{ attributes }}>
    <input
        type="search"
        data-model="query",
        placeholder="Rechercher un clients"
    >

    <ul>
        {% for customer in this.search %}
            {{component('customer', {'id' : customer.id})}}
        {% endfor %}
    </ul>
</div>